*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
     background: #000718;
     font-family: 'Roboto', sans-serif;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #555;;
  transition: background-color 5000s ease-in-out 0s;
}

#section-wrapper{
    width: 100%;
    height: 100vh;
    padding:30px;
}
.box-wrapper{
    display: table;
    width: 890px;
    margin: auto;
    margin-top: 35px;
    border-radius: 30px;
}
.form-box{
    width: 40%;
    height: 505px;
    float: left;
    padding: 40px 35px 35px 35px;
    border-radius: 30px 0px 0px 30px;
    background: #ecf0f3;
}
.form-title{
    text-align: center;
    margin: 0px;
    font-size: 28px;
    letter-spacing: 0.5px;
}
.form-fields{
    width: 100%;
    padding: 35px 5px 5px 5px;
}
.form-fields input{
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    color: #555;
    padding: 20px 10px 20px 5px;
    width: 100%;
}
.form-group{
    padding: 0px 30px;
    margin-bottom: 25px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cdced1, inset -8px -8px 8px #ffffff;
}
.submit-button{
    width: 100%;
    height: 60px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
    text-align: center;
    background: #f44771;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    transition: .5s;
}
.submit-button:hover{
    background: #1e7dfa;
}
.submit-button:active{
    background: #0b63da;
}
.loginhere{
    text-align: center;
    font-size: 15px;
    padding: 10px;
    margin-top: 7px;
}
.loginhere a{
    text-decoration: none;
}
.loginhere a:hover{
    color: red;
}
.bg-box{
    width: 60%;
    height: 505px;
    float: right;
    display: block;
    border-radius: 0px 30px 30px 0px;
    background: radial-gradient(circle, rgba(63,94,251,1)0%, rgba(252,70,107,1) 100%);
}
.bg-box img{
    width: 100%;
    height: 100%;
    padding: 30px;
}

/* Responsive css */

@media only screen and (max-width: 767px){
    .box-wrapper{
        width: 100%;
    }
    .form-box{
        width: 100%;
        height: initial;
        border-radius: 30px;
    }
    .bg-box{
        display: none;
    }
}
